<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/gh-buttons.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/font-awesome.css" type="text/css" media="screen" />

    <link rel="icon" type="image/png" href="/images/favicon.png"/>

    {% block js %}
    {% endblock %}

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32112334-2']);
      _gaq.push(['_setDomainName', 'ratchet.io']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </head>
  <body>
    <div id="wrapper">
      <header>
	<div class="actions button-container">
    <a href="/rss" class="button pill big" title="Subscribe to the RSS feed">
      <i class="icon-rss"></i> Feeds
    </a>
	  {% if admin %}
	  <a class="button pill big" href="/admin">Admin</a>
	  {% endif %}
    <a href="{{ report_url }}" class="button pill big">
      <i class="icon-exclamation-sign"></i> Report an Issue</a>
	</div>
      <a href="/">
        <img id="logo" src="/images/logo.png" alt="Logo"/>
      </a>
      </header>
      <section id="content">
        {% block content %}
        {% endblock %}
      </section>
      <div id="push"></div>
    </div>
    <footer>
      <ul class="left">
	{% if user %}
	<li>
	  <a href="{{ logout_url }}">Logout</a>
	</li>
	{% endif %}
	<li>
	  <a href="/documentation">API</a>
	</li>
        <li>&copy; 2011-{% now "Y" %} <a href="http://www.ratchet.io">Ratchet Inc.</a></li>
      </ul>
      <ul class="right">
	<li id="powered"><a href="http://www.stashboard.org">POWERED BY <img src="/images/poweredbystash.png" alt="stash!" /> STASHBOARD</a></li>
       </ul>
    </footer>
    {% block js_end %}
    {% endblock %}
  </body>
</html>
